body{
    background-color: rgb(255, 227, 255);
}
.container{
    height: auto;
    margin: auto;
    padding: 5px;
    margin-top:2% ;
}
.header{
    background-color: black;
    color: white;
    padding: 30px;
}
img{
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-top: 8%;
    border-radius: 10px;
}
